
@import url('editzawodnik.css');
body{
    background-color: gray;
}

.Container{
    display: grid;
    grid-template-columns: 150px 150px 1fr;
}

.Header{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
}

.Header label{
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.Menu{
   display: table;
   grid-row: 2;
}

.Menu div{
    padding: 10px;
    border: 1px solid black;
}

.Content{
    grid-column: 2 / 4;
    grid-row: 2;

    display: table;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;

    border: 1px solid black;

    padding-left: 7%;
}

.Content div label{
    font-size: 20px;
    text-align: center;
    display: table-row;
}

.valid{
    color: red;
    visibility: hidden;
    border: 0px white solid;
    
}

.non-valid{
    color:red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    visibility:visible;
}

.validinp{
    visibility: visible;
    border: 0px white solid;
}

.non-validinp{
    border: 1px red solid;
}

.zawodnikrole{
    visibility: hidden;
    border: 0px white solid;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 0;
}

.zawodnikrole1{
    visibility: visible;
    height: 10%;
}


.Footer{
    border: 2px black solid;
    grid-row-start: 4;
    grid-column: 1 / 4;
    padding-top: 1%;
}

.Footer label{
    margin-left: 96%;
}